<section class="advertisement">
  <svg class="svg-vector" width="375" height="2">
    <use href="./img/icons.svg#icon-vector"></use>
  </svg>
  <div class="marquee">
    <div class="marquee_inner">
      <h2 class="visually-hidden">Advertisement</h2>
      <p class="marquee__line">
        Master <span class="your-photo">your photography</span> skills with us!
      </p>
      <p class="marquee__line">
        Master <span class="your-photo">your photography</span> skills with us!
      </p>
    </div>
  </div>
  <svg class="svg-vector" width="375" height="2">
    <use href="./img/icons.svg#icon-vector"></use>
  </svg>
</section>
