<footer class="footer">
  <div class="container footer-container">
    <a href="#">
      <svg class="footer-logo" width="127" height="20">
        <use href="../img/icons.svg#icon-logo"></use>
      </svg>
    </a>

    <address class="contacts">
      <ul class="ul-contacts">
        <li class="contacts-item contacts-tel">UK: +38 066 543 8912 ></li>
        <li class="contacts-item">
          <p>Ukraine, Kyiv</p>
        </li>
      </ul>
    </address>
    <div class="footer-block">
      <ul class="footer-social">
        <li>
          <a class="social-link" href="https://www.instagram.com/goitclub/"
            >Instagram</a
          >
        </li>
        <li>
          <a class="social-link" href="https://www.facebook.com/goITclub/"
            >Facebook</a
          >
        </li>
        <li>
          <a class="social-link" href="https://www.youtube.com/c/GoIT"
            >YouTube</a
          >
        </li>
      </ul>
      <ul>
        <li><a class="footer-nav" href="#">About us</a></li>
        <li><a class="footer-nav" href="#">Our courses</a></li>
        <li><a class="footer-nav" href="#">Our mentors</a></li>
        <li><a class="footer-nav" href="#">Reviews</a></li>
        <li><a class="footer-nav" href="#">Contacts</a></li>
      </ul>
    </div>

    <form action="feedback-form">
      <input
        class="footer-input"
        type="text"
        name="email"
        value="Enter your email"
      />
      <input class="footer-button" type="submit" value="Go" />
    </form>

    <div class="footer-text">
      <p>
        Privacy Policy <br />
        Public Offering Agreement
      </p>
      <p>
        2023 Focus Frame &copy; <br />
        All rights reserved
      </p>
    </div>
  </div>
</footer>
