<footer class="footer">
  <div class="container footer-container">
    <div class="footer-box">
      <div>
        <a class="footer-logo-link" href="./index.html">
          <svg class="footer-logo" width="127" height="20">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>

        <address class="contacts" id="contacts">
          <ul class="ul-contacts">
            <li class="contacts-item">
              UK:
              <a class="contacts-tel" href="tel:+380665438912"
                >+38 066 543 8912</a
              >
            </li>
            <li class="contacts-item">
              <p>Ukraine, Kyiv</p>
            </li>
          </ul>
        </address>
      </div>

      <div class="footer-block">
        <ul class="footer-social">
          <li>
            <a
              class="social-link"
              target="_blank"
              href="https://www.instagram.com/goitclub/"
              >Instagram</a
            >
          </li>
          <li>
            <a
              class="social-link"
              target="_blank"
              href="https://www.facebook.com/goITclub/"
              >Facebook</a
            >
          </li>
          <li>
            <a
              class="social-link"
              target="_blank"
              href="https://www.youtube.com/c/GoIT"
              >YouTube</a
            >
          </li>
        </ul>

        <ul class="footer-nav">
          <li><a class="footer-nav-link" href="#about-us">About us</a></li>
          <li><a class="footer-nav-link" href="#courses">Our courses</a></li>
          <li><a class="footer-nav-link" href="#mentors">Our mentors</a></li>
          <li><a class="footer-nav-link" href="#reviews">Reviews</a></li>
          <li><a class="footer-nav-link" href="#contacts">Contacts</a></li>
        </ul>
      </div>
      <form class="feedback-form" name="feedback-form">
        <input
          class="footer-input"
          type="email"
          name="email"
          placeholder="Enter your email"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
          required
        />
        <button class="footer-btn" type="submit">Go</button>
      </form>
    </div>

    <div class="footer-text">
      <div>
        <p>Privacy Policy</p>
        <p>Public Offering Agreement</p>
      </div>

      <div>
        <p>2023 Focus Frame</p>
        <p>&copy;All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
