<header class="header">
  <div class="container container-header">
    <div class="nav">
      <div class="nav-container">
        <a class="header-logo" href="./index.html"
          ><svg class="logo-svg" width="123" height="16">
            <use href="../img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="nav-list">
          <li><a class="nav-link" href="">About us</a></li>
          <li><a class="nav-link" href="">Our courses </a></li>
          <li><a class="nav-link" href="">Our mentors</a></li>
          <li><a class="nav-link" href="">Reviews</a></li>
          <li><a class="nav-link" href="">Contacts</a></li>
        </ul>
        <div class="mob-nav">
          <a class="header-singup-mob" href="#sing-up">
            <div class="header-singup-container-mob">
              <svg class="header-singup-svg" width="16" height="16">
                <use
                  class="header-icon-singup"
                  href="./img/icons.svg#icon-camera"
                ></use>
              </svg>
            </div>
          </a>
          <button class="menu">
            <svg width="32" height="22">
              <use href="./img/icons.svg#icon-menu-mob"></use>
            </svg>
          </button>
        </div>
      </div>
      <a class="header-singup" href="#sign-up">Sing Up</a>
    </div>
  </div>
</header>
