<section class="container hero-container">
  <h1 class="hero-title">Discover the magic of photography in our school</h1>
  <p class="hero-text">
    Our photography school offers an unforgettable journey, where you can learn
    the basics of composition, master technical skills, translate your unique
    ideas.
  </p>
  <div class="hero-students">
    <picture>
      <source
        media="(min-width: 768px)"
        srcset="./img/hero/student-tab.png 1x, ./img/hero/student-tab@2x.png 2x"
      />
      <source
        media="(max-width: 767.98px)"
        srcset="./img/hero/student-mob.png 1x, ./img/hero/student-mob@2x.png 2x"
      />
      <img
        class="hero-students-img"
        src="./img/hero/student-mob.png"
        alt="Happy Students"
        width="135"
        height="54"
      />
    </picture>
    <a class="hero-link" href=""
      >Our happy students
      <svg class="arrow-icon" width="18" height="8.66">
        <use href="./img/icons.svg#icon-arrow"></use>
      </svg>
    </a>
  </div>

  <div class="hero-reviews">
    <svg class="hero-star-icon" width="20" height="20">
        <use href="./img/icons.svg#icon-star"></use>
      </svg>
    <p>Reviews</p>
    <p>+1500</p>
  </div>

  <picture>
    <source
      media="(min-width: 1280px)"
      srcset="./img/hero/man-desk.png 1x, ./img/hero/man-desk@2x.png 2x"
    />
    <source
      media="(min-width: 768px)"
      srcset="./img/hero/man-tab.png 1x, ./img/hero/man-tab@2x.png 2x"
    />
    <source
      media="(max-width: 767.98px)"
      srcset="./img/hero/man-mob.png 1x, ./img/hero/man-mob@2x.png 2x"
    />
    <img
      class="hero-man-icon"
      src="../img/hero/man-desk.png"
      alt="Photograph Man"
      width="259"
    />
  </picture>
</section>
