<section class="hero-section">
  <div class="container">
    <div class="hero-container">
      <div class="hero-left">
        <h1 class="hero-title">
          Discover the magic of
          <span class="hero-accent">photography</span>&nbsp; in our school
        </h1>
        <p class="hero-text">
          Our photography school offers an unforgettable journey, where you can
          learn the basics of composition, master technical skills, translate
          your unique ideas.
        </p>
        <div class="response-block">
          <div class="hero-students">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hero/student-tab.png    1x,
                  ./img/hero/student-tab@2x.png 2x
                "
              />
              <source
                media="(max-width: 767.98px)"
                srcset="
                  ./img/hero/student-mob.png    1x,
                  ./img/hero/student-mob@2x.png 2x
                "
              />
              <img
                class="hero-students-img"
                src="./img/hero/student-mob.png"
                alt="Happy Students"
                width="109"
              />
            </picture>
            <a class="hero-link" href="#reviews">
              <p class="hero-link-text">Our happy students</p>
              <svg class="arrow-icon" width="18" height="8.66">
                <use href="./img/icons.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>

          <div class="hero-reviews-block">
            <div class="hero-star-icon">
              <svg class="hero-star-img" width="20" height="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </div>
            <div class="hero-reviews-text">
              <p class="hero-reviews-accent">Reviews</p>
              <p>+1500</p>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-right">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="./img/hero/man-desk.png 1x, ./img/hero/man-desk@2x.png 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="./img/hero/man-tab.png 1x, ./img/hero/man-tab@2x.png 2x"
          />
          <source
            media="(max-width: 767.98px)"
            srcset="./img/hero/man-mob.png 1x, ./img/hero/man-mob@2x.png 2x"
          />
          <img
            class="hero-man-img"
            src="./img/hero/man-desk.png"
            alt="Photograph Man"
            width="259"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
