<!-- Desktop 1280 -->
<section class="courses">
  <div class="container">
    <div class="courses-container">
      <div class="courses-about">
        <h2 class="courses-title" id="courses">Our <span class="accent">Courses</span></h2>
        <p class="courses-ofer">
          At our photography school, we offer a variety of courses that cover
          all aspects of this fascinating art. Regardless of your experience or
          skill level, we have courses to suit your needs and goals.
        </p>
      </div>
      <ol class="courses-list">
        <li class="courses-card">
          <a href="#sign-up" class="card-link">
            <div class="icon-wrapper">
              <svg class="courses-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-up"></use>
              </svg>
            </div>
          </a>
          <h3 class="courses-subtitle">Basics of photography</h3>
          <div class="text-wrapper">
            <p class="courses-text">
            During this course, you will be able to familiarize yourself with
            different types of cameras, learn the basics of composition.
            </p>
          </div>
        </li>
        <li class="courses-card">
          <a href="#sign-up" class="card-link">
            <div class="icon-wrapper">
              <svg class="courses-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-up"></use>
              </svg>
            </div>
          </a>
          <h3 class="courses-subtitle">Landscape photography</h3>
          <div class="text-wrapper">
            <p class="courses-text">
            In this course, you'll learn how to choose the right angles, frame
            landscapes, and create depth and perspective in your images.
            </p>
          </div>
        </li>
        <li class="courses-card">
          <a href="#sign-up" class="card-link">
            <div class="icon-wrapper">
              <svg class="courses-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-up"></use>
              </svg>
            </div>
          </a>
          <h3 class="courses-subtitle">Portrait <br>photography</h3>
          <div class="text-wrapper">
            <p class="courses-text">
            During this course, you will learn to choose the right lighting,
            reproduce the mood and expressions on the faces of the models.
            </p>
          </div>
        </li>
      </ol>
    </div>
  </div>
</section>