<section class="our-mentors">
  <div class="container">
    <h2 class="our-ment" id="mentors">
      Our <span class="accent">mentors</span>
    </h2>
    <ul class="our-ment-ul">
      <li class="our-ment-li">
        <img
          class="our-ment-icon"
          srcset="
            ./img/our-mentors/girl1.png    1x,
            ./img/our-mentors/girl1@2x.png 2x
          "
          src="./img/our-mentors/girl1.png"
          alt="Emilia Smith"
          width="180"
        />
        <div class="text-li">
          <h3 class="our-ment-name">Emilia Smith</h3>
          <p class="our-ment-prog">1.5 years of experience</p>
        </div>
      </li>
      <li class="our-ment-li">
        <img
          class="our-ment-icon"
          srcset="
            ./img/our-mentors/boy1.png    1x,
            ./img/our-mentors/boy1@2x.png 2x
          "
          src="./img/our-mentors/boy1.png"
          alt="Alex Lebedev"
          width="180"
        />
        <div class="text-li">
          <h3 class="our-ment-name">Alex Lebedev</h3>
          <p class="our-ment-prog">3.5 years of experience</p>
        </div>
      </li>
      <li class="our-ment-li mia-icon">
        <img
          class="our-ment-icon"
          srcset="
            ./img/our-mentors/girl2.png    1x,
            ./img/our-mentors/girl2@2x.png 2x
          "
          src="./img/our-mentors/girl2.png"
          alt="Mia Dubrovska"
          width="180"
        />
        <div class="text-li mia-icon">
          <h3 class="our-ment-name mia-icon">Mia Dubrovska</h3>
          <p class="our-ment-prog">2.0 years of experience</p>
        </div>
      </li>
      <li class="our-ment-li">
        <img
          class="our-ment-icon"
          srcset="
            ./img/our-mentors/boy2.png    1x,
            ./img/our-mentors/boy2@2x.png 2x
          "
          src="./img/our-mentors/boy2.png"
          alt="Eliot Kovalev"
          width="180"
        />
        <div class="text-li">
          <h3 class="our-ment-name">Eliot Kovalev</h3>
          <p class="our-ment-prog">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
