<section>
        <h3>Reviews</h3>
      <ul>
        <li>
            <div>
                <div>
                    <svg>
                        <use></use>
                    </svg>
                </div>
                <div>
                    <svg>
                        <use></use>
                    </svg>
                </div>
                <div>
                    <svg>
                        <use></use>
                    </svg>
                </div>
                <div>
                    <svg>
                        <use></use>
                    </svg>
                </div>
                <div>
                    <svg>
                        <use></use>
                    </svg>
                </div>
                <img 
                srcset="../img/reviews/abraham.png x1, ../img/reviews/abraham@2.png x2"
                src="../img/reviews/abraham.png" alt="Abraham Baker">
                <h4>Abraham Baker</h4>
                <p>Student</p>
            </div>
                <p>I am very pleased that I decided to enroll in photography school. The teachers turned out to be very talented and experienced professionals who share their knowledge and are dedicated to their work. I was able to expand my skills and discover my own style.></p>
        </li>
        <li>
            <div>
                <img 
                srcset="../img/reviews/amanda.png x1, ../img/reviews/amanda@2.png x2"
                src="../img/reviews/amanda.png" alt="Amanda Lowery">
                <h4>Amanda Lowery</h4>
                <p>Student</p>
            </div>    
                <p>The courses at the photography school exceeded all my expectations. I gained not only technical knowledge, but also inspiration and motivation to reach new heights in my creativity. Hands-on classes and workshops helped me understand different styles of photography.</p>
            
        </li>
      </ul>
</section>
