<section class="signup-section">
  <div class="container container-signup">
    <div class="container-form">
      <h2 class="signup-title" id="sign-up">
        Sign <span class="signup-span">Up</span>
      </h2>
      <p class="signup-paragraph">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <div class="form-signup">
        <form class="form-signup">
          <label class="label-signup">
            <input
              class="input-signup"
              type="text"
              name="name"
              placeholder="Enter your name"
              pattern="[A-Za-zА-Яа-яЁё]{1,30}"
              required
            />
          </label>

          <label class="label-signup">
            <input
              class="input-signup"
              type="email"
              name="email"
              placeholder="Enter your email"
              required
            />
          </label>

          <label class="label-signup">
            <textarea
              name="user-comment"
              placeholder="Message"
              class="modal-textarea"
            ></textarea>
          </label>
          <button class="signup-button" type="submit">send</button>
        </form>
      </div>
      <p class="confirmation-paragraph">
        By clicking on “Send” button, you agree to our
        <span class="confirmation-span">Privacy Policy,</span>
        <br />and allow Promodo to use this information for marketing purposes.
      </p>
    </div>
    <div class="container-img">
      <div class="container-camera">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="./img/sign-up/camera.png 1x, ./img/sign-up/camera@2x.png 2x"
          />
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/sign-up/camera1desc1440@1x.png 1x,
              ./img/sign-up/camera1desc1440@2x.png 2x
            "
          />

          <img
            class="signup-img"
            srcset="./img/sign-up/camera.png 1x, ./img/sign-up/camera@2x.png 2x"
            src="./img/sign-up/camera.png"
            alt="camera"
            width="163"
          />
        </picture>
      </div>
      <div class="container-video-camera">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/sign-up/video-camera.png    1x,
              ./img/sign-up/video-camera@2x.png 2x
            "
          />
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/sign-up/video-camera1desc1440@1x.png 1x,
              ./img/sign-up/video-camera1desc1440@2x.png 2x
            "
          />

          <img
            class="signup-second-img"
            srcset="
              ./img/sign-up/video-camera.png    1x,
              ./img/sign-up/video-camera@2x.png 2x
            "
            src="./img/sign-up/video-camera.png"
            alt="video-camera"
            width="254"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
