.footer-container {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.285;
}

.footer-logo {
  fill: var(--color-white);
}

.contacts-tel {
  text-transform: uppercase;
}

.social-link {
  text-transform: uppercase;
}

.footer-nav {
  text-transform: uppercase;
}
