.container-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
/*background*/
/*mob*/
.header-hero-wrapper {
  background-repeat: repeat;
  background: url(/img/h-h-background/graphic-mobile.png);
  background-size: contain;
}
@media (min-resolution: 192dpi) {
  .header-hero-wrapper {
    background: url(/img/h-h-background/graphic-mobile_2x.png);
    background-size: contain;
  }
}
/*tablet*/
@media screen and (min-width: 768px) {
  .header-hero-wrapper {
    background: url(/img/h-h-background/graphic-tablet.png);
    background-size: contain;
  }
  @media (min-resolution: 192dpi) {
    .header-hero-wrapper {
      background: url(/img/h-h-background/graphic-tablet_2x.png);
      background-size: contain;
    }
  }
}
/*decktop*/
@media screen and (min-width: 1280px) {
  .header-hero-wrapper {
    background: url(/img/h-h-background/graphic-desktop.png);
    background-size: contain;
  }
  @media (min-resolution: 192dpi) {
    .header-hero-wrapper {
      background: url(/img/h-h-background/graphic-desktop_2x.png);
      background-size: contain;
    }
  }
}
/*1440*/
@media screen and (min-width: 1440px) {
  .header-hero-wrapper {
    background: url(/img/h-h-background/graphic-desktop-1440.png);
    background-size: contain;
  }
  @media (min-resolution: 192dpi) {
    .header-hero-wrapper {
      background: url(/img/h-h-background/graphic-desktop-1440_2x.png);
      background-size: contain;
    }
  }
}
/**/
.nav-container {
  max-width: 335px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: var(--black, #121212);
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mob-nav {
  display: flex;
  gap: 14px;
  align-items: center;
}

.logo-svg {
  fill: var(--color-white, #ffffff);
  width: 127px;
  height: 20px;
}
.header-singup-mob {
  padding-top: 9px;
  padding-bottom: 9px;
}
.header-singup-container-mob {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #1d1d1d;
  border-radius: 50%;
  fill: rgba(190, 166, 158, 0.4);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-singup-container-mob:hover,
.header-singup-container-mob:focus {
  fill: rgba(190, 166, 158, 1);
}
.menu {
  background-color: transparent;
  width: 32px;
  height: 22px;
  padding: 0;
  border: none;
  fill: transparent;
  stroke: var(--color-white, #ffffff);
}

@media screen and (max-width: 1280px) {
  .nav-list {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header-singup {
    display: none;
  }
}
/* menu */

.menu-container {
  position: fixed;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  width: 218px;
  height: 100%;
  z-index: 999;
  background-color: var(--color-light, #bea69e);
  transform: translateX(100%);
  transition: transform 600ms ease-in;
  /*  */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.menu-container.is-open {
  transform: translateX(0);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  fill: transparent;
  stroke: var(--color-black, #121212);
  background-color: transparent;
}
.nav-menu {
  margin: 180px 101px auto 20px;
}
.nav-list-menu {
  display: flex;
  gap: 20px;
  flex-direction: column;
  white-space: nowrap;
}
.nav-link-menu {
  color: var(--black, #121212);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  transition: font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link-menu:hover {
  font-weight: 700;
}
.nav-link-menu:focus {
  font-weight: 700;
}
.menu-img {
  width: 218px;
  height: 329px;
  background-image: url(/img/header/background-mobile.png);
  background-size: 218px 329px;
  background-repeat: no-repeat;
}
@media (min-resolution: 192dpi) {
  .menu-img {
    background-image: url(/img/header/background-mobile2x.png);
  }
}
/* tablet */
@media screen and (min-width: 768px) {
  .header-singup-mob {
    display: none;
  }
  .header-logo {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .nav {
    display: flex;
    gap: 14px;
  }
  .nav-container {
    max-width: 504px;
    padding: 0 20px;
    flex-grow: 1;
  }

  .header-singup {
    width: 188px;
    display: flex;
    padding: 16px 58px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(--color-white, #ffffff);
    /* text */
    color: var(--black, #121212);
    font-size: 18px;
    font-weight: 700;
    line-height: 0.04em;
    text-transform: uppercase;
    white-space: nowrap;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-singup:hover,
  .header-singup:focus {
    background: var(--color-fill, #1d1d1d);
    color: rgba(190, 166, 158, 1);
  }
  .menu {
    width: 40px;
    height: 28px;
  }
  .menu-svg {
    width: 40px;
    height: 28px;
  }
  /*menu*/
  .menu-container {
    width: 480px;
  }
  .menu-toggle {
    right: 32px;
    width: 40px;
    height: 40px;
  }
  .svg-close {
    width: 40px;
    height: 40px;
  }
  .nav-menu {
    margin: 232px 347px auto 64px;
  }
  .menu-img {
    width: 480px;
    height: 480px;
    background-size: 480px 480px;
    background-image: url(/img/header/background-tablet.png);
  }
  @media (min-resolution: 192dpi) {
    .menu-img {
      background-image: url(/img/header/background-tablet2x.png);
    }
  }
}
/* tablet end */
/* desktop */
@media screen and (min-width: 1280px) {
  .menu {
    display: none;
  }
  .nav {
    gap: 20px;
  }
  .nav-container {
    max-width: 822px;
    padding: 0 50px;
    gap: 97px;
  }
  .nav-list {
    display: flex;
    gap: 28px;
    flex-grow: 1;
  }
  .nav-list-li {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .nav-link {
    color: var(--color-white, #ffffff);
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: rgba(190, 166, 158, 1);
  }
  .header-singup {
    width: 238px;
    padding: 16px 84px;
  }
}
@media screen and (min-width: 1440px) {
  .nav-container {
    max-width: 982px;
    gap: 209px;
  }
}
/* desktop end */
