.container-signup {
    display: inline-flex;
    align-items: flex-start;
    gap: 60px;
    padding: 75px 100px;
}

.signUp-title {
    color: #FFF;
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: -1.92px;
    margin-bottom: 20px;
    width: 159px;
}

.signUp-span {
    color: #BEA69E;
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: -1.92px;
}

.signup-paragraph {
    color: #FFF;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.32px;
    margin-bottom: 40px;
    width: 480px;
}

input {
    font-family: inherit;
}

.input-signup {
    width: 480px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background-color: transparent;
    margin-top: 14px;
    padding: 0 0 0 18px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.input-signup-message {
    width: 480px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background-color: transparent;
    margin-top: 14px;
    margin-bottom: 40px;
    padding: 20px 0 79px 18px;
}

.signup-button {
    display: inline-flex;
    padding: 16px 216px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(--white, #FFF);
    margin-bottom: 20px;
    color: var(--black, #121212);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.confirmation-paragraph {
    color: rgba(255, 255, 255, 0.50);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    width: 480px;
    height: 36px;
}

.confirmation-span {
    color: rgba(255, 255, 255, 0.50);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration-line: underline;
}

.container-img {
    width: 540px;
    height: 540px;
    display: flex;
    gap: 20px;
}

.container-camera {
    border-radius: 1000px;
    background: #BEA69E;
    width: 190px;
    height: 288px;
    flex-shrink: 0;
    padding: 63px 18px;
    margin-top: 252px;
}

.signup-img {
    width: 163px;
    height: 154px;
    flex-shrink: 0;
}

.container-video-camera {
    border-radius: 1000px;
    background: #1D1D1D;
    width: 340px;
    height: 540px;
    flex-shrink: 0;
    padding: 156px 50px 88px;
}